@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Rubik';
    border-radius: 15px;
}

.container {
    background-color: white;
    width: 60rem;
    height: 30rem;
    display: flex;
    color: white;
    overflow: hidden;
    border-radius: 15px;
    z-index: -2;
}

.main-box {
    width: 22.5%;
    background-color: hsl(246, 80%, 60%);
    margin-right: 2.5%;
    border-radius: 15px;
    height: 70%;
}

.main-box h3 {
    font-weight: 300;
    font-size: 12px;
    opacity: .7;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 0;
}

.main-box h1 {
    font-weight: 300;
    margin-left: 10%;
    margin-top: 5px;
    font-size: 34px;
}

.profile-img {
    width: 65px;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 10%;
}

.time-frames {
    background-color: hsl(235, 46%, 20%);
    height: 100%;
    display: block;
    position: relative;
    z-index: -1;
}

.time-btns {
    position: absolute;
    left: 10%;
    bottom: 50%;
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    opacity: .3;
    cursor: pointer;
}

.time-btns:hover {
    opacity: 1;
}

.daily {
    bottom: 60%;
}

.monthly {
    bottom: 40%;
}
